$headMainFontFamily: 'Gravitas One' sans-serif;
$textFontFamily: 'Nova Round' serif;

h1 {
	font-family: $headMainFontFamily;
	font-size: 6vh;
}

a {
	font-family: $textFontFamily;
	font-size: 3vh;
	text-decoration: none;
}

footer {
	font-family: $textFontFamily;
	font-size: 1.2vh;
	a {
		font-size: 1.2vh;
	}
}