body {
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.background {
	z-index: -1;
	position: absolute;
	top: 65%;
	left: 50%;
	margin-top: -512px;
	margin-left: -512px;
}

h1 {
	display: inline-block;
	position: inherit;
	margin: 0.2em auto;
	order: 2;
}

a {
	display: inline-block;
}

header {
	height: 30vh;
	width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
}

iframe {
	height: 67vh;
	max-width: 640px;
	width: 100vw;
	opacity: 0.5;
}

.left {
	order: 1;
}

.right {
	order: 3;
}

@media (max-width: 760px), (orientation: portrait) {
	h1 {
		display: block;
	}
}

@media (orientation: landscape) {
	h1 {
		display: inline-block;
	}
}

footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 2vh;
	width: 100%;
	background: hsla(0, 100%, 0%, 0.1);
	text-align: center;
}
