a:hover {
	animation-duration: 0.7s;
	animation-name: blowup;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
}

body:before {
	animation-duration: 20s;
	animation-name: rotateBg;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes blowup {
	from {
		font-size: 2vh;
	}
	
	to {
		font-size: 2.3vh;
	}
}

@keyframes rotateBg {
	from {
		transform: rotate(0turn);
		background-color: hsl(0, 100%, 50%);
	}

	50% {
		transform: rotate(0.5turn);
		background-color: hsl(180, 100%, 50%);
	}

	to {
		transform: rotate(1turn);
		background-color: hsl(360, 100%, 50%);
	}
}