a:hover {
	animation-duration: 0.7s;
	animation-name: blowup;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
}

.background {
	animation-duration: 20s;
	animation-name: rotateBg;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}



@keyframes blowup {
	from {
		font-size: 2vh;
	}
	
	to {
		font-size: 2.3vh;
	}
}

@keyframes rotateBg {
	from {
		transform: rotate(0turn);
		background-color: hsl(0, 100%, 75%);
	}

	33% {
		background-color: hsl(120, 100%, 75%);
	}

	66% {
		background-color: hsl(240, 100%, 75%);
	}

	to {
		transform: rotate(1turn);
		background-color: hsl(0, 100%, 75%);
	}
}