html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: black; }

* {
  color: white; }

a {
  background-color: rgba(0, 0, 0, 0.3); }

footer {
  color: rgba(255, 255, 255, 0.2); }
  footer a {
    color: rgba(255, 255, 255, 0.2); }

body {
  position: relative;
  overflow: hidden; }

.background {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -512px;
  margin-left: -512px; }

h1 {
  display: inline-block;
  position: inherit;
  margin: 3em auto;
  order: 2; }

a {
  display: inline-block; }

header {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center; }

.left {
  order: 1; }

.right {
  order: 3; }

@media (max-width: 760px), (orientation: portrait) {
  h1 {
    display: block; } }

@media (orientation: landscape) {
  h1 {
    display: inline-block; } }

footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 2vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  text-align: center; }

footer a:hover {
  animation-name: blowupSmall;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear; }

a:hover {
  animation-duration: 0.7s;
  animation-name: blowup;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear; }

.background {
  animation-duration: 20s;
  animation-name: rotateBg;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

@keyframes blowupSmall {
  from {
    font-size: 1.2vh; }
  to {
    font-size: 1.5vh; } }

@keyframes blowup {
  from {
    font-size: 3vh; }
  to {
    font-size: 3.3vh; } }

@keyframes rotateBg {
  from {
    transform: rotate(0turn);
    background-color: red; }
  10% {
    background-color: #ff9900; }
  20% {
    background-color: #ccff00; }
  30% {
    background-color: #33ff00; }
  40% {
    background-color: #00ff66; }
  50% {
    background-color: cyan; }
  60% {
    background-color: #0066ff; }
  70% {
    background-color: #3300ff; }
  80% {
    background-color: #cc00ff; }
  90% {
    background-color: #ff0099; }
  to {
    transform: rotate(1turn);
    background-color: red; } }

h1 {
  font-family: "Gravitas One" sans-serif;
  font-size: 6vh; }

a {
  font-family: "Nova Round" serif;
  font-size: 3vh;
  text-decoration: none; }

footer {
  font-family: "Nova Round" serif;
  font-size: 1.2vh; }
  footer a {
    font-size: 1.2vh; }
