html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: black; }

* {
  color: white; }

a {
  background-color: rgba(0, 0, 0, 0.3); }

body {
  position: relative;
  overflow: hidden; }

body:before {
  content: "";
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  background: url("photonTransp.png") no-repeat center center; }

h1 {
  display: inline-block;
  margin: 3em auto;
  order: 2; }

a {
  display: inline-block; }

header {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center; }

.left {
  order: 1; }

.right {
  order: 3; }

@media (max-width: 760px), (orientation: portrait) {
  h1 {
    display: block; } }

a:hover {
  animation-duration: 0.7s;
  animation-name: blowup;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear; }

body:before {
  animation-duration: 20s;
  animation-name: rotateBg;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

@keyframes blowup {
  from {
    font-size: 2vh; }
  to {
    font-size: 2.3vh; } }

@keyframes rotateBg {
  from {
    transform: rotate(0turn);
    background-color: red; }
  50% {
    transform: rotate(0.5turn);
    background-color: cyan; }
  to {
    transform: rotate(1turn);
    background-color: red; } }

h1 {
  font-family: "Gravitas One" sans-serif;
  font-size: 6vh; }

a {
  font-family: "Nova Round" serif;
  font-size: 2vh;
  text-decoration: none; }
